@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="font-bebas-neue text-4xl">@ViewData["Title"]</h1>
    <form id="account" method="post" autocomplete="off">
        <div class="flex flex-col mx-auto max-w-lg">
            <input asp-for="Input.Username" class="px-2 py-2 border-none outline-none bg-secondary" placeholder="Username" autocomplete="off" />
            <span asp-validation-for="Input.Username" class="text-red-900"></span>
        </div>
        <div class="flex flex-col mx-auto max-w-lg">
            <input asp-for="Input.Password" class="px-2 py-2 border-none outline-none bg-secondary" placeholder="Password" autocomplete="off" />
            <span asp-validation-for="Input.Password" class="text-red-900"></span>
        </div>
        <div>
            <button id="login-submit" class="mt-2 w-full max-w-lg py-2 font-bebas-neue text-xl bg-skyblue" type="submit">Log in</button>
        </div>
        <div>
            <p>
                <a class="font-bebas-neue text-skyblue text-xl" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</div>
